@page
@model DiagnosticModel
@{
    ViewData["Title"] = "Диагностика";
}

<h1 class="mb-3">Диагностика</h1>

<h4 class="my-2">Возможные последствия по активным тревогам</h4>
@foreach (var alert in Model.Alerts.Where(a => a.ParamRule.AlertKind == DiagnosticSystem.DAL.Models.ParamRuleAlertKind.ALERT))
{
    <div class="alert alert-danger" role="alert">
        Тревога: @alert.ParamValue.DateTime<br />
        Параметр: @alert.Param.Name<br />
        Текущение значение: @alert.ParamValue.Value<br />
        Диапазон по уставке: @alert.ParamRule.MinValue - @alert.ParamRule.MaxValue<br />
        <div class="mt-2 fw-bold">ВНИМЕНИЕ: @(alert.Consequence ?? "Последствия не указаны")</div>
    </div>
}
@foreach (var alert in Model.Alerts.Where(a => a.ParamRule.AlertKind == DiagnosticSystem.DAL.Models.ParamRuleAlertKind.WARNING))
{
    <div class="alert alert-warning" role="alert">
        Предупреждение: @alert.ParamValue.DateTime<br />
        Параметр: @alert.Param.Name<br />
        Текущение значение: @alert.ParamValue.Value<br />
        Диапазон по уставке: @alert.ParamRule.MinValue - @alert.ParamRule.MaxValue<br />
        <div class="mt-2 fw-bold">ВНИМЕНИЕ: @(alert.Consequence ?? "Последствия не указаны")</div>
    </div>
}