@page
@model IndexModel

<div class="card-group">
    <div class="card">
        <div class="card-header fw-bold">Тревоги</div>
        <div class="card-body">
            @foreach (var alert in Model.Alerts.Where(a => a.ParamRule.AlertKind == DiagnosticSystem.DAL.Models.ParamRuleAlertKind.ALERT))
            {
                <div class="card text-bg-danger mb-3">
                    <div class="card-header">@alert.ParamRule.s2RuleType параметра "Напряжение"</div>
                    <div class="card-body">
                        Текущение значение: @alert.ParamValue.Value<br />
                        Предельное по уставке: @alert.ParamRule.Value<br />
                        Возможные последствия: @alert.Consequence
                    </div>
                    <div class="card-footer">
                        Время тревоги: @alert.ParamValue.DateTime
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="card">
        <div class="card-header fw-bold">Предупреждения</div>
        <div class="card-body">
            <div class="card text-white text-bg-warning mb-3">
                <div class="card-header">Снижение значения параметра "Давление"</div>
                <div class="card-body">
                    Текущение значение: 34<br />
                    Предельное по уставке: 110<br />
                    Возможные последствия: поломка жопы
                </div>
                <div class="card-footer">
                    Время тревоги: 14.05.2023 15:02
                </div>
            </div>
            <div class="card text-white text-bg-warning mb-3">
                <div class="card-header">Снижение значения параметра "Давление"</div>
                <div class="card-body">
                    Текущение значение: 34<br />
                    Предельное по уставке: 110<br />
                    Возможные последствия: поломка жопы
                </div>
                <div class="card-footer">
                    Время тревоги: 14.05.2023 15:02
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-2">
    Последнее обновление: 14.05.2023 15:02
</div>