@page "/Params/{id:int}"
@model ParamModel
@{
    ViewData["Title"] = "Параметр " + Model.Param.Name;
}

<h1 class="mb-3">@Model.Param.Name</h1>

<h2>Уставки</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="bg-light">ID уставки</th>
            <th class="bg-light">Условие</th>
            <th class="bg-light">Вид срабатывания</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var param in Model.Param.Rules)
        {
            <tr>
                <td>@param.ParamId</td>
                <td>@param.sRuleType</td>
                <td>@param.sAlertKind</td>
            </tr>
        }
        @if (Model.Param.Rules.Count() == 0)
        {
            <tr>
                <td colspan="2">Уставок нет</td>
            </tr>
        }
    </tbody>
</table>

<h2 id="values">Значения</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="bg-light">ID значения</th>
            <th class="bg-light">Значение</th>
            <th class="bg-light">Дата</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var value in Model.Param.Values)
        {
            <tr>
                <td>@value.ValueId</td>
                <td>@value.Value</td>
                <td>@value.DateTime</td>
            </tr>
        }
        @if (Model.Param.Values.Count() == 0)
        {
            <tr>
                <td colspan="2">Значений нет</td>
            </tr>
        }
    </tbody>
</table>

<h2 id="archive">Архив тревог</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="bg-light">ID тревоги</th>
            <th class="bg-light">ИД значения</th>
            <th class="bg-light">Значение</th>
            <th class="bg-light">Диапазон по уставке</th>
            <th class="bg-light">Последствия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var alert in Model.Param.Alerts.Where(a => a.IsArchived == 1))
        {
            <tr>
                <td>@alert.ParamRule.RuleId</td>
                <td>@alert.ValueId</td>
                <td>@alert.ParamValue.Value</td>
                <td>@alert.ParamRule.sRuleType</td>
                <td>@(alert.Consequence ??= "не указаны")</td>
            </tr>
        }
        @if (Model.Param.Alerts.Where(a => a.IsArchived == 1).Count() == 0)
        {
            <tr>
                <td colspan="5">Архив пуст</td>
            </tr>
        }
    </tbody>
</table>